body {
    background-color: black;
}

h1 {
    color: white
}

.ball {
    height:100px;
    width:100px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color:cornsilk;
    margin: 0 auto;
    font-weight: bold;
    transition: 1s;
}

.main-container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: 'black';

}